html, body{
    min-height:100%;
    height:100%;
    background-color:#ECECEC;
}

#landing > .row {
    margin-top:15%;
}


#bookPage strong{
    font-weight: bold;
}

#library button{
   margin-top:20px;
}
strong{
    font-weight: bold;
}

table th {
    font-weight: bold;
}

#filter label{
    padding-left:1.6em;
    padding-right:1%;
}

.component{
    box-shadow: 0 0 5px rgba(0,0,0,0.3);
    background-color:white;
    padding:1em 1em;
    margin:1em .2em;
}

#manage_books{
    min-width:705px;
}
#add-book-form{
padding:2em;
 max-width:600px; 
 margin:auto;
}